@model webBuy.Models.User
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Register</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/">webBuy</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="far fa-calendar-alt"></i> @DateTime.Now.DayOfWeek, @DateTime.Now.Date</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">


        <form action="" method="post" class="mt-5">
            <h4>Register</h4>
            <br />
            <div class="form-group">
                <label for="exampleInputUserName">Username</label>
                <input type="text" name="name" class="form-control" id="exampleInputUserName" placeholder="Enter username">
                @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label for="exampleInputConfirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" id="exampleInputConfirmPassword" placeholder="Confirm Password">
                @Html.ValidationMessageFor(m => m.confirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="exampleInputPhone">Phone number</label>
                <input type="text" name="phone" class="form-control" id="exampleInputPhone" placeholder="Phone Number">
                @Html.ValidationMessageFor(m => m.phone, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="exampleInputAddress">Address</label>
                <input type="text" name="address" class="form-control" id="exampleInputAddress" placeholder="Address">
            </div>
            <p>Register as </p>
            <div class="form-group form-check">

                <input type="checkbox" name="role" value="customer" class="form-check-input" id="examplerole">
                <label class="form-check-label" for="examplerole">Customer</label>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <input type="checkbox" name="role" value="seller" class="form-check-input" id="examplerole">
                <label class="form-check-label" for="examplerole">Seller</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                @Html.ValidationMessageFor(m => m.role, "", new { @class = "text-danger" })
            </div>
            @*<div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>*@
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <div class="mt-4 my-4">Have an account? Login <a href="/Login/Index">here</a></div>
        <div style="height: 50px"></div>









        <footer class="fixed-bottom bg-dark text-white text-center mt-4">
            <div class="container my-2">
                <span class="text-muted">&copy; @DateTime.Now.Year - webBuy</span>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>